<!DOCTYPE html>
<html>
  <head>
    <title>CRUD Mata Pelajaran</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Data Mata Pelajaran</h1>
    </header>
    <div class="container">
      <h2>Daftar Mata Pelajaran</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Aksi</th>
        </tr>
        <% pelajaran.forEach(pelajaran => { %>
        <tr>
          <td><%= pelajaran.id %></td>
          <td><%= pelajaran.nama %></td>
          <td>
            <a href="/edit-mata-pelajaran/<%= pelajaran.id %>">Edit</a>
            <a href="/delete-mata-pelajaran/<%= pelajaran.id %>">Delete</a>
          </td>
        </tr>
        <% }); %>
      </table>
      <h3>Tambah Mata Pelajaran</h3>
      <form action="/add-mata-pelajaran" method="POST">
        <input type="text" name="nama" placeholder="Nama" required />
        <button type="submit">Tambah</button>
      </form>
    </div>
  </body>
</html>
