<!DOCTYPE html>
<html>
  <head>
    <title>Edit Mata Pelajaran</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Edit Mata Pelajaran</h1>
    </header>
    <div class="container">
      <form action="/edit-mata-pelajaran/<%= pelajaran.id %>" method="POST">
        <input type="text" name="nama" value="<%= pelajaran.nama %>" required />
        <button type="submit">Simpan</button>
      </form>
    </div>
  </body>
</html>
