<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Profil Pengguna</h1>
    </header>
    <div class="container">
      <p>Username: <%= user.username %></p>
      <p>Role: <%= user.role %></p>
      <a href="/crud-guru">CRUD Guru</a>
      <a href="/crud-murid">CRUD Murid</a>
      <a href="/crud-mata-pelajaran">CRUD Mata Pelajaran</a>
      <a href="/crud-jadwal-piket">CRUD Jadwal Piket</a>
    </div>
  </body>
</html>
